<h2>List of Heroes</h2>
<ul>
    <li *ngFor="let hero of heroes">
        <button type="button"
            (click)="onSelect(hero)">
            <span> {{ hero.id }}</span>
            <span> {{ hero.name }}</span>
        </button>
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span class="field-names"> Hero ID: </span> {{ selectedHero.id }} </div>
    
    <div>
        <label for="name" class="field-names"> Hero Name: </label>
        <input class="text-box" id="name" [(ngModel)]="selectedHero.name" placeholder="Enter hero name here">
    </div>
</div>
